# dependencies
node_modules/
server/node_modules/
/.pnp
.pnp.js

.npm

# misc
**/.DS_Store
**/.history
.prettierrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

#IDE
**/.idea
**/.vscode
**/.code-workspace
