button {
    color:#fff;
	outline: 4px;
    border: 0;
	padding:10px 20px;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
	position:relative;
    
    
}

.reject-btn {
    background-color: red;
    
    margin-left: 20px;
}
.accept-btn {
    background-color: green;
    
}

.buttons {
    position: relative;
    font-size: 15px;
    margin-top: 23px;
    
}

.request-container {
    border: 2px solid #DCDCDC;
    border-radius: 3px;
    width: 300px; /*GIVE FIXED WIDTH SO ALL BOXES ARE SAME SIZE*/
    height: 125px;
    margin: 10px 10px 10px 10px;
    background-color: #F0F0F0;
    position: relative;
    text-align: center;
}

.client-name {
    position: relative;
    top: 10%;
   
}

