#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  background-color: dodgerblue;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.navbar-brand {
  font-size: 40px;
}

.nav-item {
  font-size: 30px;
}

.row {
  margin: 0;
}

.row.header {
  flex: 0 1 auto;
}

.row.content {
  flex: 1 1 auto;
}

.row.footer {
  flex: 0 1 40px;
}
